<a href="/users/<%= current_user.id %>/edit">Edit My Profile</a>
</form>
<h1>Welcome <%= @user.first_name %></h1>

<div>
  <h3>Here are some of the events of your state:</h3>
  <% @events.each do |event| %>
    <table>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Host</th>
        <th>Action/State</th>
      </tr>
      <tr>
        <td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
        <td><%= event.date %></td>
        <td><%= event.city %></td>
        <td><%= event.user.first_name %></td>
        <% if event.user == current_user %>
        <td>
          <a href="/events/<%= event.id %>/edit">Edit</a>
          <form action="/events/<%= event.user_id %>" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input type="hidden" name="event_id" value="<%= event.id %>" />
            <input type="hidden" name="_method" value="delete" />
            <input id="button" type="submit" value="Delete">
          </form>
        </td>

        <% elsif event.users_attending.exclude?(current_user) && event.user != current_user %>
        <td>
          <form action="/attends/<%= event.id%>/create" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input id="button" type="submit" value="Join">
          </form>
        </td>
        <% else %>
        <td>
          <p>
            Joining
          </p>
          <form action="/attends/<%= event.id %>" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input type="hidden" name="_method" value="delete" />
            <input id="button" type="submit" value="Cancel">
          </form>
        </td>
        <% end %>
      </tr>
    </table>

  <% end %>
</div>
<div>
  <h3>Here are some of the events on other state:</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
      <th>State</th>
      <th>Host</th>
      <th>Action</th>
    </tr>
    <% @other_event.each do |event| %>
    <tr>
      <td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
      <td><%= event.date %></td>
      <td><%= event.city %></td>
      <td><%= event.state %></td>
      <td><%= event.user.first_name %></td>
      <% unless event.users_attending.include?(current_user) %>
      <td>
        <form action="/attends/<%= event.id%>/create" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input id="button" type="submit" value="Join">
        </form>
      </td>
      <% else %>
      <td>
        <p>Joining</p>
      </td>
      <% end %>
    </tr>
  </table>
  <% end %>
</div>
  <h2>Add Event</h2>
  <form action="/events/create" method="post">
    <% if flash %>
    <% flash.each do |message| %>
    <h4><%= message %></h4>
    <% end %>
    <%end %>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label>
      Name <input type="text" name="event[name]">
    </label>
    <label>
      Date <input type="date" name="event[date]">
    </label>

    <label>
      Location <input type="text" name="event[city]"><%= select_tag :"event[state]", options_for_select(us_states) %>
    </label>
    <input id="button" type="submit" value="Add Event">
  </form>
  </div>
